{% for dictionary in eventlog_dictionaries.keys() | sort %}
    {% for type in ["user", "computer", "application", "event", "metadata", "server"] %}
/usr/share/logstash/data/dictionary/dictionary--eventlog-lgf--{{dictionary}}--{{loop.index}}.json
    {% endfor %}
{% endfor %}
