global_defs {
   router_id {{inventory_hostname}}
}

vrrp_instance default {
    interface eth0
    virtual_router_id 1
    priority {{keepalived_priority | nvl(100)}}
    virtual_ipaddress {
       {{keepalived_vip}}
    }
    authentication {
        auth_type PASS
        auth_pass SecPassWord
    }
}
