#!/bin/bash

/usr/bin/docker run \
  --restart on-failure:5 \
  --name {{_service_name}} \
  --hostname {{_service_container_hostname}} \
  --user {{_service_container_user}} \

{%- if _service_container_conf_mount_type | equal("dir") -%}{{""}}
  --volume {{_service_conf_dir}}:{{_service_container_conf_dir}}:ro \
{%- else -%}
    {%- for file in cookbook_new.keys() | sort -%}
        {%- if file.startswith("file://" + _service_conf_dir) -%}
            {%- set _relative_path = file | replace("file://" + _service_conf_dir, "") -%}{{""}}
  --volume {{_service_conf_dir}}{{_relative_path}}:{{_service_container_conf_dir}}{{_relative_path}}:ro \
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- for cap in _service_container_capabilities -%}{{""}}
  --cap-add {{cap}} \
{%- endfor -%}

{%- if _service_container_entrypoint != "" -%}{{""}}
  --entrypoint '{{_service_container_entrypoint}}' \
{%- endif -%}

{%- for k, v in _service_container_env | dictsort -%}{{""}}
  --env {{k}}={{v}} \
{%- endfor -%}

{%- for k, v in _service_env | dictsort -%}{{""}}
  --env {{k}}={{v}} \
{%- endfor -%}

{%- for host, ip in _service_container_hosts | dictsort -%}{{""}}
  --add-host {{host}}:{{ip}} \
{%- endfor -%}

{%- for net in _service_container_networks.keys() | sort -%}{{""}}
  --network {{net}} \
{%- endfor -%}

{%- for publish in _service_container_ports -%}{{""}}
  --publish {{publish}} \
{%- endfor -%}

{%- if _service_container_userns | equal("host") -%}{{""}}
  --userns {{_service_container_userns}} \
{%- endif -%}

{%- for vol in _service_container_volumes -%}{{""}}
  --volume {{vol}} \
{%- endfor -%}

{%- for mount in _service_container_mounts -%}{{""}}
  --volume {{mount}} \
{%- endfor -%}

{%- if _service_container_cmd != "" -%}{{""}}
  {{_service_container_image}} {{_service_container_cmd}}
{%- else -%}{{""}}
  {{_service_container_image}}
{%- endif -%}
