[Unit]
Description={{_service_name}}.{{_service_uuid}}
Wants=docker.socket
After=docker.service

[Service]
User=root
PermissionsStartOnly=true
ExecStart=/usr/local/bin/{{_service_name}}
ExecStartPre=-/usr/bin/docker rm -f {{_service_name}}
{%- for net in _service_container_networks.keys() - ["host"] | sort -%}{{""}}
ExecStartPre=-/usr/bin/docker network create {{net}}
{%- endfor -%}{{""}}
ExecStop=/usr/bin/docker stop {{_service_name}}
Restart=always
RestartSec=15s
TimeoutStartSec=30s

[Install]
WantedBy=multi-user.target
