{%- macro _wrap(comment) -%}
    {{caller()}}
{%- endmacro -%}

{%- macro _http_backend(backend) -%}{{""}}
    - consumer.state: **{{backend.state.value}}**
    - consumer.type: **{{backend.consumer.type}}**
    - consumer.scheme: **{{backend.options.scheme}}**
    - consumer.target: **{{backend.options.target}}**
    {%- if backend.consumer.auth.type == "ntlm" -%}{{""}}
    - consumer.auth.type: **{{backend.consumer.auth.type}}**
    - consumer.auth.username: **{{backend.consumer.auth.username}}**
    - consumer.auth.path: **{{backend.consumer.auth.path}}**
    {%- endif -%}{{""}}
    - consumer.path: **{{backend.options.path}}**
{%- endmacro -%}

{%- macro _db_backend(backend) -%}{{""}}
    - consumer.state: **{{backend.state.value}}**
    - consumer.type: **{{backend.consumer.type}}**
    - consumer.driver: **{{backend.consumer.driver}}**
    - consumer.uri: {{backend.consumer.uri}}
    - consumer.username: **{{backend.consumer.username}}**
    {%- if backend.options.method is not none -%}{{""}}
    - consumer.method: **{{backend.options.method}}**
    {%- endif -%}
{%- endmacro -%}

{%- macro _rabbitmq_backend(backend) -%}{{""}}
    - consumer.state: **{{backend.state.value}}**
    - consumer.type: **{{backend.consumer.type}}**
    - consumer.uri: {{backend.options.uri}}

    - consumer.username: **{{backend.consumer.username}}**
{%- endmacro -%}

{%- macro _external_backend(backend) -%}{{""}}
    - consumer.state: **{{backend.state.value}}**
    - consumer.type: **{{backend.consumer.type}}**
{%- endmacro -%}

{%- macro _product(producer_node, product) -%}{{"\n"}}
<details>
  <summary>routing_key: {{product.routing_key}}</summary>

Отправитель:

- Узел отправитель: {{ref.node(meta.get_node_profile(producer_node.node_id))}}

- Routing key: **{{product.routing_key}}**

Получатели:
    {%- for node_id, consumer_node in product.consumer_nodes | dictsort -%}
        {%- for system_id, consumer_system in consumer_node.consumer_systems | dictsort -%}
            {%- for kind_id, product_kind in consumer_system.product_kinds | dictsort -%}{{"\n"}}
- Система {{ref.system(system_id)}} узла {{ref.node(node_id)}}

  - Queue: **{{product_kind.queue_name}}**

                {%- for environment_id, backend in product_kind.backends | dictsort -%}{{""}}
  - Настройки обработчика для окружения **{{environment_id}}**:
                    {%- if backend.consumer.type == "http" -%}
                        {{_http_backend(backend)}}
                    {%- elif backend.consumer.type == "db" -%}
                        {{_db_backend(backend)}}
                    {%- elif backend.consumer.type == "rabbitmq" -%}
                        {{_rabbitmq_backend(backend)}}
                    {%- elif backend.consumer.type == "external" -%}
                        {{_external_backend(backend)}}
                    {%- endif -%}
                {%- endfor -%}{{"\n"}}
<!-- {{node_id}}.{{system_id}}.{{kind_id}} -->{{""}}
            {%- endfor -%}
        {%- endfor -%}
    {%- endfor -%}{{""}}
</details>{{""}}
{%- endmacro -%}

# {{entity.entity_id}}

{%- call _wrap("Optional fields") -%}
    {%- if entity.title is not none -%}{{"\n"}}
Наименование пакета: **{{entity.title}}**
    {%- endif -%}

    {%- if entity.wiki is not none -%}{{"\n"}}
Описание пакета: {{"[Wiki](%s)" | format(entity.wiki)}}
    {%- endif -%}

    {%- if entity.refs | length > 0 -%}{{"\n"}}
Дополнительные ссылки:{{"\n"}}
        {%- for ref in entity.refs -%}{{""}}
- {{ref}}
        {%- endfor -%}
    {%- endif -%}
{%- endcall -%}{{""}}

Система отправитель: {{ref.system(meta.get_system_profile(entity.system_id))}}

Exchange: **{{entity.exchange_name}}**{{""}}

{%- for node_id, producer_node in entity.producer_nodes | dictsort -%}{{"\n"}}
### Параметры отправки для узла {{ref.node(node_id)}}
    {%- for product_id, product in producer_node.products | dictsort -%}
        {{_product(producer_node, product)}}
    {%- endfor -%}{{"\n"}}
{%- endfor -%}{{"\n"}}
