# Home

## Сущности:
{%- for system_id, system in meta.system_profiles | dictsort -%}{{"\n"}}
- Система отправитель {{ref.system(system)}}:
    {%- if system.entities | length > 0 -%}{{"\n"}}
        {%- for entity_id, entity in system.entities | dictsort -%}{{""}}
  - {{ref.entity(entity)}}
        {%- endfor -%}{{""}}
    {%- endif -%}{{"\n"}}
<!-- {{system_id}} -->{{""}}
{%- endfor -%}{{""}}

## Узлы:
{%- if meta.node_profiles | length > 0 -%}{{"\n"}}
    {%- for node_id, node in meta.node_profiles | dictsort -%}{{""}}
- {{ref.node(node)}}
    {%- endfor -%}{{""}}
{%- endif -%}{{""}}

## Зоны:
{%- for environment_id, environment in meta.environments | dictsort -%}{{"\n"}}
- Окружение **{{environment.environment_id}}**:
        {%- if environment.zone_profiles | length > 0 -%}{{"\n"}}
            {%- for zone_id, zone in environment.zone_profiles | dictsort -%}{{""}}
  - {{ref.zone(zone)}}
            {%- endfor -%}{{""}}
        {%- endif -%}{{"\n"}}
<!-- {{environment.environment_id}} -->{{""}}
{%- endfor -%}{{"\n"}}
