# {{zone.zone_id}}

Окружение: **{{zone.environment_id}}**

Сервера:
{%- if zone.peers | length > 0 -%}{{"\n"}}
    {%- for peer_id, peer in zone.peers | dictsort -%}{{""}}
- **{{peer_id}}**:

  - uri: {{peer.uri}}

<!-- {{peer_id}} -->{{"\n"}}
    {%- endfor -%}{{"\n"}}
{%- else -%}
{{" **Не указано**"}}
{%- endif -%}{{""}}

Виртуальные узлы:
{%- if zone.vhosts | length > 0 -%}{{"\n"}}
    {%- for vhost_id, vhost in zone.vhosts | dictsort -%}{{""}}
<details>
  <summary>vhost: {{vhost_id}}</summary>

Поставщики:
        {%- if vhost.producers | length > 0 -%}{{"\n"}}
            {%- for system_id in vhost.producers | sort -%}{{""}}
  - {{ref.system(meta.get_system_profile(system_id))}}
            {%- endfor -%}{{""}}
        {%- else -%}
            {{" **Не указано**"}}
        {%- endif -%}{{""}}

Потребители:
        {%- if vhost.consumers | length > 0 -%}{{"\n"}}
            {%- for system_id, consumer in vhost.consumers | dictsort -%}{{""}}
  - {{ref.system(meta.get_system_profile(system_id))}}
            {%- endfor -%}{{""}}
        {%- else -%}
            {{" **Не указано**"}}
        {%- endif -%}{{""}}
</details>{{"\n"}}
    {%- endfor -%}
{%- else -%}
    {{" **Не указано**"}}
{%- endif -%}{{""}}
