LogFile={{_zabbix_agent_log_dir}}\zabbix_agentd.log
EnableRemoteCommands={{zabbix_agent_remote_cmd}}
Server={{zabbix_agent_server_ip}}
ListenPort={{zabbix_agent_port}}
ListenIP={{zabbix_agent_ip}}
ServerActive={{zabbix_agent_server_active}}
Hostname={{ansible_hostname}}
Timeout={{zabbix_agent_timeout}}
Include={{_zabbix_agent_dir}}\zabbix_agentd.conf.d\*.conf
