[
    {rabbitmq_auth_backend_ldap, [
        {tag_queries, [
            %% Права администратора
            {administrator, {'or', [
                {constant, false}
{%- for username, empty in rabbitmq_server_admin_users | nvl({}) | dictsort -%},{{""}}
                {equals, "${username}", "{{username}}"}
{%- endfor -%}{{""}}
            ]}},

            {management, {constant, true}}
        ]},

        {resource_access_query, {'or', [
            {constant, false}
{%- for username, permissions in rabbitmq_server_user_permissions | nvl({}) | dictsort -%}
    {%- for username, empty in rabbitmq_server_admin_users | nvl({}) | dictsort -%},{{""}}
            {equals, "${username}", "{{username}}"}
    {%- endfor -%}{{""}}
    {%- if permissions.configure | nvl(none) | is_distinct_from(none) -%},{{""}}
            {'and', [{match, {string, "${vhost}"}, {string, "^{{permissions.vhost}}$"}}, {equals, "${permission}", "configure"}, {match, {string, "${name}"}, {string, "^{{permissions.configure}}$"}}, {match, {string, "${username}"}, {string, "^{{username}}$"}}]}
    {%- endif -%}
    {%- if permissions.write | nvl(none) | is_distinct_from(none) -%},{{""}}
            {'and', [{match, {string, "${vhost}"}, {string, "^{{permissions.vhost}}$"}}, {equals, "${permission}", "write"}, {equals, "${resource}", "exchange"}, {match, {string, "${name}"}, {string, "^{{permissions.write}}$"}}, {match, {string, "${username}"}, {string, "^{{username}}$"}}]}
    {%- endif -%}
    {%- if permissions.read | nvl(none) | is_distinct_from(none) -%},{{""}}
            {'and', [{match, {string, "${vhost}"}, {string, "^{{permissions.vhost}}$"}}, {equals, "${permission}", "read"}, {equals, "${resource}", "queue"}, {match, {string, "${name}"}, {string, "^{{permissions.read | nvl("")}}$"}}, {match, {string, "${username}"}, {string, "^{{username}}$"}}]}
    {%- endif -%}
{%- endfor -%}{{""}}
        ]}}
    ]}
].
