{%- set _rabbitmq_server_cluster_name = rabbitmq_server_cluster_name | nvl(rabbitmq_server_service_name) -%}
{%- set _rabbitmq_server_memory_limit = rabbitmq_server_memory_limit | nvl("2G") -%}
{%- set _rabbitmq_server_auth_backends = rabbitmq_server_auth_backends | nvl(["internal"]) -%}
{%- set _rabbitmq_server_auth_ldap = {"enabled": false} | combine(rabbitmq_server_auth_ldap | nvl({})) -%}

cluster_name = {{_rabbitmq_server_cluster_name}}

loopback_users.guest = false
hipe_compile = false

management.listener.port = 15672
management.listener.ssl = false
management.path_prefix = /rabbitmq-management
management.load_definitions = /etc/rabbitmq/definitions.json

prometheus.path = /metrics/rabbitmq/

total_memory_available_override_value = {{_rabbitmq_server_memory_limit | human_to_bytes}}
vm_memory_high_watermark.relative = 1.0

disk_free_limit.absolute = 10GB

{%- if _rabbitmq_server_auth_backends | length > 0 -%}{{"\n"}}
    {%- for backend in _rabbitmq_server_auth_backends -%}{{""}}
auth_backends.{{loop.index}} = {{backend}}
    {%- endfor -%}
{%- endif -%}{{""}}

listeners.tcp.default = 5672

{%- if _rabbitmq_server_auth_ldap.enabled -%}{{"\n"}}
    {%- for server in _rabbitmq_server_auth_ldap.servers | sort -%}{{""}}
auth_ldap.servers.{{loop.index}} = {{server}}
    {%- endfor -%}{{""}}
auth_ldap.user_dn_pattern = {{_rabbitmq_server_auth_ldap.user_dn_pattern}}
auth_ldap.dn_lookup_attribute = {{_rabbitmq_server_auth_ldap.dn_lookup_attribute}}
auth_ldap.dn_lookup_base = {{_rabbitmq_server_auth_ldap.dn_lookup_base}}
{%- endif -%}
