{% macro query(dictionaries) %}
    {% set query = {'query': {'bool': {'should': [], 'minimum_should_match': 1}}} %}
    {% for dictionary in dictionaries.keys() | sort %}
        {% set dummy = query.query.bool.update({'should': query.query.bool.should + [{'match_phrase': {'ctx.id': dictionary}}]}) %}
    {% endfor %}
{{query | to_json(sort_keys=True)}}
{%- endmacro -%}

{% macro input(name, dictionaries, size) %}
    {% if dictionaries | length != 0 %}
input {
    elasticsearch {
        hosts => "${es_hosts}"
        ssl => "${es_ssl}"
        docinfo => true
        index => "{{name}}"
        query => '{{query(dictionaries)}}'
        user => "${es_user}"
        password => "${es_password}"
        tags => ["dictionary"]
        enable_metric => false
        schedule => "*/2 * * * *"
        size => {{size}}
    }
}
    {% endif %}
{% endmacro -%}

{{input('dictionary--eventlog-lgf', eventlog_dictionaries, 6 * (eventlog_dictionaries | length))}}
