{% raw -%}
filter {
    if (([parser][name] == "eventlog") and ("message_parsed" not in [tags])) {
        grok {
            match => {
                "[message]" => [
                    "{%{DATESTAMP_EVENTLOG:[raw_timestamp]},%{DATA:[msg][transaction][status]},\n%{TRANSACTION_ID:[msg][transaction][id]},%{INT:[msg][user][id]},%{INT:[msg][computer][id]},%{INT:[msg][application][id]},%{INT:[msg][connection][id]},%{INT:[msg][event][id]},%{DATA:[msg][event][type]},\"%{TEXT:[msg][comment][text]}\",%{INT:[msg][metadata][id]},\n%{ANY:[msg][data][text]},\"%{TEXT:[msg][data][view]}\",%{INT:[msg][server][id]},%{INT:[msg][port_id]},%{INT:[msg][additional_port_id]},%{INT:[msg][session][id]},%{INT:[msg][additional_field_count]},\n\{0\}\n},?",
                    "{%{DATESTAMP_EVENTLOG:[raw_timestamp]},%{DATA:[msg][transaction][status]},\n%{TRANSACTION_ID:[msg][transaction][id]},%{INT:[msg][user][id]},%{INT:[msg][computer][id]},%{INT:[msg][application][id]},%{INT:[msg][connection][id]},%{INT:[msg][event][id]},%{DATA:[msg][event][type]},\"%{TEXT:[msg][comment][text]}\",%{INT:[msg][metadata][id]},\n%{ANY:[msg][data][text]},\"%{TEXT:[msg][data][view]}\",%{INT:[msg][server][id]},%{INT:[msg][port_id]},%{INT:[msg][additional_port_id]},%{INT:[msg][session][id]},%{INT:[msg][additional_field_count]},%{ANY:[msg][tail]},\n\{0\}\n},?",
                    "{%{DATESTAMP_EVENTLOG:[raw_timestamp]},%{DATA:[msg][transaction][status]},\n%{TRANSACTION_ID:[msg][transaction][id]},%{INT:[msg][user][id]},%{INT:[msg][computer][id]},%{INT:[msg][application][id]},%{INT:[msg][connection][id]},%{INT:[msg][event][id]},%{DATA:[msg][event][type]},\"%{TEXT:[msg][comment][text]}\",%{INT:[msg][metadata][id]},\n%{ANY:[msg][data][text]},\"%{TEXT:[msg][data][view]}\",%{INT:[msg][server][id]},%{INT:[msg][port_id]},%{INT:[msg][additional_port_id]},%{INT:[msg][session][id]},%{INT:[msg][additional_field_count]},%{ANY:[msg][tail]},\n\{0\}",
                    "{%{DATESTAMP_EVENTLOG:[raw_timestamp]},%{DATA:[msg][transaction][status]},\n%{TRANSACTION_ID:[msg][transaction][id]},%{INT:[msg][user][id]},%{INT:[msg][computer][id]},%{INT:[msg][application][id]},%{INT:[msg][connection][id]},%{INT:[msg][event][id]},%{DATA:[msg][event][type]},\"%{TEXT:[msg][comment][text]}\",%{INT:[msg][metadata][id]},\n%{ANY:[msg][data][text]},\"%{TEXT:[msg][data][view]}\",%{INT:[msg][server][id]},%{INT:[msg][port_id]},%{INT:[msg][additional_port_id]},%{INT:[msg][session][id]},%{INT:[msg][additional_field_count]},%{ANY:[msg][tail]}\n},?",
                    "{%{DATESTAMP_EVENTLOG:[raw_timestamp]},%{DATA:[msg][transaction][status]},\n%{TRANSACTION_ID:[msg][transaction][id]},%{INT:[msg][user][id]},%{INT:[msg][computer][id]},%{INT:[msg][application][id]},%{INT:[msg][connection][id]},%{INT:[msg][event][id]},%{DATA:[msg][event][type]},\"%{TEXT:[msg][comment][text]}\",%{INT:[msg][metadata][id]},\n%{ANY:[msg][data][text]},\"%{TEXT:[msg][data][view]}\",%{INT:[msg][server][id]},%{INT:[msg][port_id]},%{INT:[msg][additional_port_id]},%{INT:[msg][session][id]},%{INT:[msg][additional_field_count]},%{ANY:[msg][tail]}"
                ]
            }
            pattern_definitions => {
                "TEXT" => "(\"{2}|[^\"])*"
                "ANY" => "(.|\n)+"
                "TRANSACTION_ID" => "{([a-f]|\d)+,([a-f]|\d)+}"
            }
            tag_on_failure => ["message_parse_failure"]
            remove_tag => ["message_parse_failure"]
            add_tag => ["message_parsed"]
            remove_field => ["message"]
        }

        if ("message_parsed" in [tags]) {
            mutate {
                gsub => [
                    "[msg][comment][text]", '""', '"'
                ]
            }
        }
    }
}

filter {
    if (([parser][name] == "eventlog") and ("message_parsed" in [tags]) and ("timestamp_parsed" not in [tags])) {
        date {
            match => ["[raw_timestamp]", "yyyyMMddHHmmss"]
            timezone => "EET"
            tag_on_failure => ["timestamp_parse_failure"]
            remove_tag => ["timestamp_parse_failure"]
            add_tag => ["timestamp_parsed"]
            remove_field => "[raw_timestamp]"
        }
    }
}

filter {
    if (([parser][name] == "eventlog") and ("filepath_parsed" not in [tags])) {
        grok {
            match => {
                "[log][file][path]" => [
                    "^.+\\%{UUID:[ctx][id]}\\1Cv8Log\\\d+.lgp$"
                ]
            }
            tag_on_failure => ["filepath_parse_failure"]
            remove_tag => ["filepath_parse_failure"]
            add_tag => ["filepath_parsed"]
        }
    }
}

filter {
    if (([parser][name] == "eventlog") and ![@metadata][_index]) {
        mutate {
            replace => {
                "[@metadata][_index]" => "%{[@metadata][index_prefix]}eventlog--%{+YYYY.MM.dd}"
            }
        }
    }
}
{% endraw %}
