{% raw -%}
filter {
    if (([parser][name] == "eventlog-lgf") and ("message_parsed" not in [tags])) {
        grok {
            match => {
                "[message]" => [
                    "^{(?<type>1|5),%{UUID:[value][uuid]},\"%{TEXT:[value][name]}\",%{INT:[id]}},?$",
                    "^{(?<type>2|3|4|6),\"%{TEXT:[value][name]}\",%{INT:[id]}},?$",
                    "^{(?<type>7|8|13),%{INT:[value][num]},%{INT:[id]}},?$",
                    "^{(?<type>11|12),\n\{0\},%{INT:[id]}},?$"
                ]
            }
            pattern_definitions => {
                "TEXT" => "(\"{2}|[^\"])*"
            }
            tag_on_failure => ["message_parse_failure"]
            remove_tag => ["message_parse_failure"]
            add_tag => ["message_parsed"]
            remove_field => ["message"]
        }
    }
}

filter {
    if (([parser][name] == "eventlog-lgf") and ("filepath_parsed" not in [tags])) {
        grok {
            match => {
                "[log][file][path]" => [
                    "^.+\\%{UUID:[ctx][id]}\\1Cv8Log\\1Cv8.lgf$"
                ]
            }
            tag_on_failure => ["filepath_parse_failure"]
            remove_tag => ["filepath_parse_failure"]
            add_tag => ["filepath_parsed"]
        }
    }
}

filter {
    if (([parser][name] == "eventlog-lgf") and ("filepath_parsed" in [tags]) and ("message_parsed" in [tags])) {
        if ([type] in [1,2,3,4,5,6]) {
            ruby {
                code => "
                    pair = { event.get('[id]') => event.get('[value]') }
                    dictionary = LogStash::Event.new
                    dictionary.set('[ctx]', event.get('[ctx]'))
                    dictionary.set('[dictionary][type]', event.get('[type]'))
                    dictionary.set('[dictionary][pairs]', pair)
                    dictionary.set('[@metadata][_index]', 'dictionary--eventlog-lgf')
                    dictionary.set('[@metadata][action]', 'update')
                    dictionary.set('[@metadata][_id]', 'dictionary--eventlog-lgf--%s--%s' % [event.get('[ctx][id]'), event.get('[type]')])
                    dictionary.set('[dictionary][name]', dictionary.get('[@metadata][_id]'))
                    new_event_block.call(dictionary)
                "
            }
        }
    }
}

filter {
    if (([parser][name] == "eventlog-lgf") and ![@metadata][_index]) {
        mutate {
            replace => {
                "[@metadata][_index]" => "%{[@metadata][index_prefix]}eventlog-lgf--%{+YYYY.MM.dd}"
            }
        }
    }
}
{% endraw %}

filter {
    if (([parser][name] == "eventlog") and ("filepath_parsed" in [tags]) and ("message_parsed" in [tags])) {
{% for dictionary in eventlog_dictionaries.keys() | sort %}
{{ '       ' if loop.first else ' else' }} if ([ctx][id] == "{{dictionary}}") {
{% for type in ["user", "computer", "application", "event", "metadata", "server"] %}
            if (![msg][{{type}}][name]) {
                translate {
                    field => "[msg][{{type}}][id]"
                    destination => "[@metadata][translate][{{type}}]"
                    dictionary_path => "/usr/share/logstash/data/dictionary/dictionary--eventlog-lgf--{{dictionary}}--{{loop.index}}.json"
                    override => true
                    refresh_interval => 60
                    refresh_behaviour => replace
                }

                ruby {
                    code => "
                        translation = event.get('[@metadata][translate][{{type}}]')
                        unless translation.nil?
                            event.set('[msg][{{type}}]', event.get('[msg][{{type}}]').merge(translation))
                        end
                    "
                }
            }
{% endfor %}
        }{{ '\n' if loop.last else '' }}
{%- endfor %}
    }
}
