{% raw -%}
output {
    if ("dictionary" in [tags]) {
        file {
            path => "/usr/share/logstash/data/dictionary/%{[dictionary][name]}.json"
            codec => line { format => "%{[dictionary][pairs]}" }
            write_behavior => overwrite
        }
    } else if ([@metadata][action] == "update") {
        elasticsearch {
            action => update
            document_id => "%{[@metadata][_id]}"
            doc_as_upsert => true
            ilm_enabled => false
            enable_metric => false
            hosts => "${es_hosts}"
            ssl => "${es_ssl}"
            index => "%{[@metadata][_index]}"
            user => "${es_user}"
            password => "${es_password}"
            timeout => 600
        }
    } else {
        elasticsearch {
            ilm_enabled => false
            enable_metric => false
            hosts => "${es_hosts}"
            ssl => "${es_ssl}"
            index => "%{[@metadata][_index]}"
            user => "${es_user}"
            password => "${es_password}"
            timeout => 600
        }
    }
}
{% endraw %}
